<mat-card>
	<mat-card-title>
		<h2 class="job-detail-header">Job Details</h2>
	</mat-card-title>
	<hr>
	<mat-card-content>
		<form>
			<div class="job-type">
				<h3 class="label">Job Type:</h3>
				<mat-form-field appearance="outline">
					<mat-label>Job Type</mat-label>
					<mat-select placeholder="Select Job Type">
						<mat-option *ngFor="let jobType of jobTypes" [value]="jobType.value">
							{{jobType.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="mat-salary-slider">
				<h3 class="label">Max-Salary(in Lacs):</h3>
				<app-mat-slider [thumbLabel]=true [step]=0.5 [showTicks]=true [suffix]="Lacs">
				</app-mat-slider>
			</div>
			<div class="number-of-positions">
				<h3 class="label">Number of Positions Open:</h3>
				<mat-form-field appearance="outline">
					<mat-label>Number of Hires</mat-label>
					<mat-select placeholder="Number Of Hires for this Position">
						<mat-option *ngFor="let position of noOfpositions" [value]="position.value">
							{{position.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		<mat-card-footer>
			<button type="submit" (click)="onSubmit()" class="update-button" mat-raised-button color="accent">
				<fa-icon class="fa-x" [icon]="faSyncIcon"></fa-icon>
				<span>Continue</span>
			</button>
		</mat-card-footer>
	</form>
	</mat-card-content>
</mat-card>