mat-card {
	margin-top: 0.5rem;
}

mat-card-title {
	font-size: 15px;
	font-weight: 1000;
}

.mat-salary-slider, .job-type, .number-of-positions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}

mat-form-field {
	width: 80%;
}

.label {
	justify-self: end;
}

.job-detail-header {
	margin: 0 auto;
}

button {
	width: 20%;
	margin-bottom: 1rem;
}

mat-card-footer {
	text-align: center;
	margin: 0 auto;
}

fa-icon {
	position: relative;
	left: -0.5rem;
}

form {
	margin-top: 2rem;
}