<div class="icon-buttons">
        <a href="https://localhost:3000/auth/google" [class.isDisabled]="modeSelected == '' || modeSelected == undefined">
            <i class="fab fa-google fa-3x"></i>
        </a>
        <a href="https://localhost:3000/auth/facebook" [class.isDisabled]="modeSelected == '' || modeSelected == undefined">
            <i class="fab fa-facebook-square fa-3x"></i>
        </a>
        <a href="https://localhost:3000/auth/linkedin" [class.isDisabled]="modeSelected == '' || modeSelected == undefined">
            <i class="fab fa-linkedin fa-3x"></i>
        </a>
        <a href="https://localhost:3000/auth/github" [class.isDisabled]="modeSelected == '' || modeSelected == undefined">
            <i class="fab fa-github fa-3x"></i>
        </a>
</div>