mat-card {
    height: 400px;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-radius: 0 0 15px 15px;
}

mat-card-content {
    margin-top: 2rem;
    position: relative;
}

form {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.login-button {
    width: 100% !important;
    margin: 0 auto;
}

.icon-button {
    width: 1rem !important;
    border-radius: 20%;
    margin-right: 1rem;
}

mat-card-footer {
    text-align: center;
    position: relative;
    top: 2rem;
}

.separator {
    width: 100%;
    border-bottom: 2px solid grey !important;
    position: relative;
    margin-top: 3rem !important;
}

.separator::after {
    content: 'Or';
    position: absolute;
    left: 47% !important;
    top: -1rem;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 50%;
    color: grey;
}

.separator {
    width: 100%;
    border-bottom: 1px solid grey;
    position: relative;
    margin-top: 2rem;
}

.separator::after {
    content: 'Or';
    position: absolute;
    top: -1rem;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 50%;
    color: grey;
}