mat-card {
    height: 400px;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-radius: 0 0 15px 15px;
}

mat-card-content {
    margin-top: 2rem;
    position: relative;
}

form {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

mat-card-footer {
    text-align: center;
    position: relative;
    top: 2rem;
}

.signup-button {
    width: 100%;
    margin: 0 auto;
}

.separator {
    width: 100%;
    border-bottom: 2px solid grey;
    position: relative;
    margin-top: 3rem;
}

.separator::after {
    content: 'Or';
    position: absolute;
    left: 47%;
    top: -1rem;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 50%;
    color: grey;
}

.passwords {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}