mat-card {
    height: 500px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 4rem;
    float: right;
    background-color: wheat;
    border-radius: 15px;
    animation: yourAnimation 1s forwards 0s ease-in;
}

@keyframes yourAnimation {
    0% {
        transform: translateX(100%);
        opacity: 0.1;
    }
    100% {
        transform: rotate(xx);
        opacity: 1;
    }
}

mat-form-field {
    display: none;
}

#background {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-modes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 20rem;
    animation: fadeIn 1s forwards 0s ease-in;
}

::ng-deep .mat-tab-labels {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

::ng-deep .mat-tab-header {
    color: black;
    background-color: #68EFAD;
    border-radius: 15px 15px 0 0;
}

::ng-deep .mat-ink-bar {
    background-color: #FF5722 !important;
}

.recruiter-button {
    height: 70px;
    font-size: 22px;
    width: 200px;
}

button {
    text-align: center;
}

.recruiter {
    position: relative;
    top: 30%;
    left: 10%;
    text-align: center;
}

.jobseeker {
    position: relative;
    top: 30%;
    text-align: center;
}

.recruiter-button:hover,
.jobseeker-button:hover {
    animation-name: colorofbutton;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes colorofbutton {
    100% {
        background-color: #1DE9B6;
        color: #E65100;
    }
}

.jobseeker-button {
    font-size: 22px;
    height: 70px;
    width: 200px;
}

.job-seeker {
    position: relative;
    left: 10%;
    top: 30%;
    text-align: center;
}

.active {
    background-color: #1DE9B6;
    color: #E65100;
    z-index: 100;
    text-align: center;
}

mat-spinner {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}

.spinner-active {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

h3 {
    position: absolute;
    top: 9rem;
    font-size: 70px;
    left: 9rem;
    color: dimgray;
    font-family: "Times New Roman", Times, serif;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0.1;
    }
    100% {
        transform: rotate(xx);
        opacity: 1;
    }
}