<form [formGroup]="form">
    <mat-form-field appearance="outline" class="common-location">
        <mat-label>{{label}}</mat-label>
        <input matInput type="text" formControlName="location" [(ngModel)]="value" placeholder="{{ placeholder }}" name="location" aria-label="Location" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="location">
            <mat-option *ngFor="let places of predictions" (onSelectionChange)="onSelect($event, places)" [value]="places.description">
                <i class="material-icons">location_on</i> {{places.description}}
            </mat-option>
        </mat-autocomplete>
        <mat-error>Please enter location of job.</mat-error>
    </mat-form-field>
</form>