<div class="search-jobs">
    <div class="search" [class.search-start]="onShowSearchFilters">
        <mat-form-field appearance="outline" *ngIf="!onShowSearchFilters">
                <span matPrefix><fa-icon class="fa-2x" [icon]="faSearch"></fa-icon></span>
                <mat-label>Search Jobs</mat-label>
                <input matInput type="text" placeholder="Search" (focus)="onSearch()">
            </mat-form-field>
    </div>
        <app-job-search-form *ngIf="onShowSearchFilters" (onCancelSearch)="onCancelSearch($event)"></app-job-search-form>            
</div>
<h2>Jobs recommended for you.</h2>
<mat-card *ngFor="let jobPost of jobPosts" class="job-posts">
    <div class="job-info">
        <mat-checkbox><b>{{jobPost.jobTitle}}</b></mat-checkbox>
        <mat-icon class="close">close</mat-icon>
        <span class="company-info">
            <img src="{{jobPost.nameOfCompany.logo}}" class="company-logo">
            <h3>{{jobPost.nameOfCompany.nameOfCompany}}</h3>
        </span>
        <div>
            <span>
                <i class="material-icons work-experience">work</i> 
                {{jobPost.experienceFrom}} To {{jobPost.experienceTo}} yrs
        	</span>
            <span>
                <i class="material-icons location">location_on</i> 
                {{jobPost.location}}
            </span>
        </div>
        <div>
            <p class="skill-set">
                <span>
                    <i class="material-icons keyskill-icon">perm_data_setting</i> 
                </span>
                <chip-list [skills]="jobPost.keySkills" removable="false"></chip-list>
            </p>
        </div>
    </div>
    <mat-accordion multi="true" *ngIf="jobPosts.length > 0">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b class="panel-title">Job Descrption</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="pre-wrap">{{jobPost.jobDescription}}</div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="bottom">
        <i class="fas fa-rupee-sign"></i> {{jobPost.salaryFrom}} To {{jobPost.salaryTo}} lpa
    </div>
</mat-card>