mat-icon {
    margin-top: 1rem;
}

mat-card {
    margin-bottom: 1rem;
    background-color: aliceblue;
}

mat-panel-description {
    text-align: center;
}

.company-logo {
    height: 30px;
    width: 30px;
}


.search > mat-form-field  {
    width: 100%;
    margin: 0 auto;
}

.search-icon {
    position: relative;
}

img {
    margin-top: 1rem;
    margin-left: -0.3rem;
}

.job-info {
    margin-bottom: 1rem;
}

.pre-wrap {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.company-info,
.skill-set {
    display: grid;
    grid-template-columns: 1fr 35fr;
}

.panel-title {
    font-size: 1.2rem;
}

mat-icon {
    float: right;
    margin: 0;
}

.close:hover {
    color: red;
}

mat-expansion-panel {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.work-experience,
.location {
    position: relative;
    top: 0.3rem;
    color: rgb(78, 164, 190);
}

.keyskill-icon {
    position: relative;
    top: 0.3rem;
    color: rgb(78, 164, 190);
}

.bottom {
    margin-top: 1rem;
}

::ng-deep .mat-form-field-prefix {
    width: 40px !important;
}

@keyframes yourAnimation{
    0%{
        transform: translateY(20px);
        }
    20%{
        transform: translateY(40px);
        }
    41%{
        transform: translateY(40px);
        }
    64%{
        transform: translateX(-100px) translateY(40px);
        }
    87%{
        transform: translateX(-200px) translateY(40px);
        }
    100%{
        transform: rotate(xx) translateX(-1000%) translateY(40px);
        }
}

.search-start{
    animation: yourAnimation 1s forwards 0s ease-out;
}

h2 {
    font-size: 2em;
    color: cadetblue;
}