<div class="search-job-form">
  <mat-card  [class.search-end]="onShowFilters" >
    <mat-card-content>
      <form [formGroup]="jobSearchForm" (ngSubmit)="onSubmit(form)" class="jobSearchForm">
        <div class="search-options">
          <mat-form-field appearance="outline">
            <mat-label>Search By Designation</mat-label>
            <input matInput type="text" placeholder="Search By Designation" formControlName="designation">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Search By Key Skills</mat-label>
            <input matInput type="text" placeholder="Search By Key Skills" formControlName="keySkills">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Search By Work Experience</mat-label>
            <mat-select placeholder="Search By Work Experience" formControlName="experience">
              <mat-option *ngFor="let exp of expList" [value]="exp.value">
                {{exp.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Search By Min Salary</mat-label>
            <mat-select placeholder="Search By Min Salary" formControlName="salary">
              <mat-option *ngFor="let sal of salaryList" [value]="sal.value">
                {{sal.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="search-options2">
          <app-autocomplete (formReady)="addFormControl('location', $event)" label="{{ label }}" placeholder="{{ placeholder }}"></app-autocomplete>
          <app-company-autosuggetion (formReady)="addFormControl('nameOfCompany', $event)" (onSelectedCompany)="setSelectedCompamy($event)" label="{{ searchCompanyLabel }}" placeholder="{{ searchCompanyPlaceholder }}"></app-company-autosuggetion>        
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
      <button type="submit" mat-raised-button color="primary"><fa-icon class="fa-x" [icon]="faSearch"></fa-icon>Search</button>
      <button mat-raised-button color="accent" (click)="onCancel()"><fa-icon class="fa-x" [icon]="faCross"></fa-icon>Cancel</button>
    </mat-card-footer>
  </mat-card>
</div>