mat-card {
    height: 160px;
    border-radius: 1rem;
}
mat-card-footer {
    text-align: center;
}

mat-form-field {
    height: 40px;
}

.search-job-form {
    text-align: center;
}
.search-options2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.search-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    margin-bottom: 1rem;
}
button {
    width: 15%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

fa-icon {
    position: relative;
    left: -3%;
}

app-autocomplete {
    height: 40px;
}

app-company-autosuggetion {
    height: 40px;
}

@keyframes fadeIn{
    0%{
        transform: translateY(-140%);
        opacity: 0.2;
        }
    50%{
        transform: translateY(-70%);
        opacity: 0.4;
        }
    100%{
        transform: rotate(xx) translateY(0);
        opacity: 1;
        }
}

.search-end{
    animation: fadeIn 0.2s forwards 0s linear;
}