mat-icon {
    margin-top: 1rem;
}

.job-panel {
    width: 90%;
}

mat-panel-description {
    text-align: center;
}

.company-logo {
    margin-top: 0.7rem;
    height: 30px;
    width: 30px;
}

img {
    margin-top: 0.9rem;
    margin-right: 1rem;
}

.pre-wrap {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

h2 {
    font-size: 2em;
    color: cadetblue;
}

.job-post-button {
    width: 10%;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.post-job-area {
    position: fixed;
    width: 10rem;
    text-align: center;
    height: 5rem;
    top: 9rem;
}

.new-job {
    font-weight: bold;
}

.post-job-only {
    animation: scaleOuIn 1s forwards 0s linear;
}

@keyframes scaleOuIn{
    0%{
        transform: rotate(20deg) scale(1.2);
        }
    50%{
        transform: rotate(10deg) scale(1.1);
        }
    100%{
        transform: rotate(0) scale(1);
        }
}

@keyframes yourAnimation{
    0%{
        transform: translateX(-20px) translateY(-20px);
        opacity: 0.2;
        }
    50%{
        transform: rotate(xx) translateX(-10px) translateY(-10px);
        opacity: 0.5;
        }
    83%{
        transform: rotate(xx) translateX(-5px) translateY(-5px);
        opacity: 0.7;
        }
    100%{
        transform: rotate(xx) translateX(0) translateY(0);
        }
}

.active{
    animation: yourAnimation 1s forwards 0s ease;
}

.job-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.title {
    position: relative;
    top: 1rem;
}