<div class="main" *ngIf="jobPosts">
	<h2 *ngIf="jobPosts.length > 0 && !showJobPostComponent" [class.header-job-list]="!showJobPostComponent">Jobs you have posted</h2>
	<h2 *ngIf="jobPosts.length == 0  && !showJobPostComponent">Welcome to the Job Portal. Get Started!</h2>
	<div class="content" *ngIf="jobPosts">
		<div class="job-panel"  *ngIf="jobPosts.length > 0 && !showJobPostComponent" [class.active]="!showJobPostComponent">
			<mat-accordion multi="true" *ngIf="jobPosts.length > 0 && !showJobPostComponent" >
				<mat-expansion-panel *ngFor="let jobPost of jobPosts">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<img src="{{jobPost.nameOfCompany.logo}}" class="company-logo">
							<div class="job-info">
								<h3>{{jobPost.nameOfCompany.nameOfCompany}}</h3>
								<div>
									<b class="title">{{jobPost.jobTitle}}</b>
								</div>
							</div>    
						</mat-panel-title>
					</mat-expansion-panel-header>
						<div class="pre-wrap">{{jobPost.jobDescription}}</div>
						<mat-action-row>
							<a mat-button [routerLink]="['/recruiter/job-post', jobPost.id]" color="primary">Edit</a>
							<button mat-button color="warn" (click)="onDeleteJobPost(jobPost.id)">Delete</button>
						</mat-action-row>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
		<div *ngIf="showJobPostComponent" class="job-post-component">
			<app-post-job-start showJobPostComponent="showJobPostComponent" (onCancelStartJobPost)="onCancelJoPosting()"></app-post-job-start>
		</div>
		<div class="post-job">
			<mat-card class="post-job-area"  [class.post-job-only]="showJobPostComponent">
				<p class="new-job">Post a new job.</p>
				<button mat-raised-button color="primary" class="job-post-button" (click)="onPostJob()">Post Job</button>    
			</mat-card>
		</div>            
	</div>
</div>