mat-toolbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header {
    justify-self: start;
}

.links {
    justify-self: end;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 30px;
}

.user-name {
    position: relative;
    margin: 0 auto;
    color: white;
    height: 60%;
    left: -1rem;
    top: 1rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
}

::ng-deep mat-list-item-focus {
    display: none;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: -0.2rem;
    height: 55px;
    width: 100%;
}

.user-info:focus {
    outline: 0 !important;
}

.user-profile {
    height: 50px;
    position: relative;
    width: 70%;
    top: -0.2rem;
    border-radius: 1px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.user-profile:focus {
    outline: 0 !important;
}

.user-profile-active {
    border-radius: 10px;
    background-color: #8C9EFF;
}


mat-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 0.05rem;
    position: relative;
    width: 200px;
 }

.user-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.arrow-left {
    position: relative;
    left: 1rem;
    width: 0;
    height: 0;
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0 !important;
}

img {
    position: relative;
    left: 0.3rem;
    top: 0.6rem;
}

::ng-deep .mat-menu-panel {
    position: relative;
    top: 1rem;
}

ng-template {
    bottom: rem;
}

.logout {
    color: black !important;
}

.job-post-button {
    width: 80%;
    text-align: center;
    position: relative;
    left: 2rem;
    top: 0.5rem;
}

.post-job-active {
    border-radius: 10px;
    background-color: #8C9EFF;
    width: 100px;
}
