<div class="job-header">
	<mat-card *ngIf="jobPost">
		<div class="company-info">
			<div class="company-logo">
				<img src="{{companyInfo.logo}}" alt="Company Logo">
			</div>
			<div class="info" *ngIf="!showPostJobStartFields">
				<div class="name-of-company" >
					<a href="{{companyInfo.domain}}">{{companyInfo.nameOfCompany}}</a>        
				</div>
				<div>
					<span class="job-title">{{jobTitle}}</span>   
				</div>
				<div>
					<span class="location"><i class="material-icons location-icon">location_on</i> <span class="location-info">{{location}}</span></span>
				</div>
			</div>
			<div class="info fields" *ngIf="showPostJobStartFields">
				<form [class.fields-active]="showPostJobStartFields" autocomplete="off" 
				[class.make-it-grid]="showUpdationFields">
					<div class="title">
						<mat-form-field appearance="outline">
							<mat-label>Title Of Job</mat-label>
							<input matInput type="text" placeholder="Title Of Job" name="jobTitle" [(ngModel)]="jobTitle" (ngModelChange)="onChangeJobTitle($event)" [errorStateMatcher]="matcher">
							<mat-error>Please enter a job title.</mat-error>
						</mat-form-field>
					</div>
					<div class="job-title-field">
						<app-company-autosuggetion value="{{jobPost.nameOfCompany.nameOfCompany}}"  (onSelectedCompany)="setSelectedCompamy($event)" label="{{ nameOfCompanyLabel }}" placeholder="{{ nameOfCompanyLabel }}"></app-company-autosuggetion>
					</div>
					<div class="location-field">
						<app-autocomplete label="{{ locationLabel }}" value="{{jobPost.location}}" (onSelectedLocation)="setSelectedLocation($event)" placeholder="{{ locationPlaceholder }}"></app-autocomplete>
					</div>
				</form>
				<div class="fields-button" [class.fields-active]="showPostJobStartFields">
					<button type="submit" (click)="onSubmit()" *ngIf="showPostJobStartFields" class="update-button" mat-raised-button color="accent">
						<fa-icon class="fa-x" [icon]="faSyncIcon"></fa-icon>
						<span>Update</span>
					</button>
					<button *ngIf="showPostJobStartFields" (click)="onCancelUpdate()" class="cancel-button" mat-raised-button color="accent">
						<fa-icon class="fa-x" [icon]="faCancelIcon"></fa-icon>
						<span>Cancel</span>
					</button>    
				</div>
			</div>
				<div class="edit" *ngIf="!showPostJobStartFields" (click)="onEditPreviousInfo()">
						<fa-icon class="fa-x" [icon]="faEditIcon"></fa-icon>
				</div>
		</div>
	</mat-card>
</div>
<div class="job-details">
	<app-job-post-details></app-job-post-details>
</div>