form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

mat-card-footer {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 5rem;
    width: 100%;
    text-align: center;
}

.company-info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 1000;
}

.job-title {
    font-size: 30px;
    font-weight: 100;
 }

.company-logo, img {
    height: 120px;
    width: 120px;
}

.name-of-company {
    grid-gap: 5px;
}

.info {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column: span 10;
    position: relative;
    height: 120px;
    left: 1rem;
}

.location {
    font-size: 25px;
    font-weight: 100;
}

.location-info {
    margin-left: 0.2rem;
}

.location-icon {
    position: relative;
    top: 0.2rem;
}

.edit {
    justify-self: end;
    height: 10%;
}

.fields-active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

mat-form-field {
    width: 100%;
}

@keyframes fadeIn{
    0%{
        opacity: 0.1;
        }
    50%{
        opacity: 0.5;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}

.fields-active, fields-button{
    animation: fadeIn 1s forwards 0s linear;
}

.fields-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    margin: 0 auto;
}

.cancel-button {
    justify-self: end;
    width: 100%;
}

fa-icon {
    position: relative;
    left: -0.5rem;
}
