<mat-toolbar color="accent">
    <div class="header">
        <span>
            <a routerLink="/job-seeker" class="title">Jobs</a>
        </span>
    </div>
    <mat-list class="links">
        <mat-list-item *ngIf="userIsAuthenticated">
            <span class="user-profile" routerLinkActive="user-profile-active" routerLink="/job-seeker/profile">
              <div class="user-info">
                <img mat-list-avatar *ngIf="user.image; else defaultImage" [src]="user.image" alt="Desc 1">              
                <ng-template #defaultImage>
                  <img mat-list-avatar src="../../../assets/images/defaultProfile.jpg">
                </ng-template>
                  <p class="user-name">{{user.firstName}}</p>
              </div>
             </span>
            <button [matMenuTriggerFor]="menu" class="user-button">
            <div class="arrow-left"></div>
            </button>
            <mat-menu #menu="matMenu">
                <a (click)="onLogOut()" mat-menu-item>
                  <p routerLinkActive="mat-accent" class="logout">
                    Log Out 
                  </p>
                </a>
            </mat-menu>
        </mat-list-item>
    </mat-list>
</mat-toolbar>