<form [formGroup]="form">
    <mat-form-field appearance="outline" class="company-suggestions">
        <mat-label>{{label}}</mat-label>
        <input matInput type="text" formControlName="nameOfCompany" [(ngModel)]="value" placeholder="{{ placeholder }}" name="nameOfCopany" aria-label="Name Of Company" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="nameOfCompany">
            <mat-option *ngFor="let company of companies" [value]="company.name" (onSelectionChange)="onSelect($event, company)">
                <div>
                    <img src="{{company.logo}}" class="company-logo"> {{company.name}}
                    <b class="company-domain"><a href="www.{{company.domain}}" target="_blank">{{company.domain}}</a></b>
                </div>
            </mat-option>
        </mat-autocomplete>
        <mat-error>Please enter company's name.</mat-error>
    </mat-form-field>
</form>