mat-card {
    width: 60%;
    height: 23rem;
    margin: 0 auto;
    position: relative;
}

mat-form-field, .app-company-autosuggetion, .app-autocomplete  {
    width: 100%;
}

.post-job-form {
    position: relative;
    top: 3.5rem;
}
h4 {
    height: 5px;
}
button {
    width: 20%;
    margin: 0 auto;
}

mat-card-footer {
    text-align: center;
}

@keyframes yourAnimation{
    0%{
        transform: translateX(-200%);
        opacity: 0.2;
        }
    50%{
        transform: translateX(-100%);
        opacity: 0.7;
        }
    100%{
        transform: rotate(xx) translateX(0);
        opacity: 1;
        }
}

.active{
    animation: yourAnimation 0.8s forwards 0s linear;
}

.cancel-job-posting {
    font-size: 15px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    position: relative;
    top: 1.2rem;
    justify-self: end;
}

.start-new-job {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
