<div class="post-job-form" [class.active]="showJobPostComponent">
	<mat-card>
		<mat-card-title>
			<div class="start-new-job">
				<h4 class="header-label">Start Posting Job</h4>
				<p class="cancel-job-posting" (click)="onCancelJobPosting()"><u>Cancel</u></p>
			</div>
		</mat-card-title>
		<hr>
		<mat-card-content>
			<form [formGroup]="jobPostStartForm" (ngSubmit)="onSubmit()" autocomplete="off">
				<mat-form-field appearance="outline">
					<mat-label>Title Of Job</mat-label>
					<input matInput type="text" placeholder="Title Of Job" name="jobTitle" formControlName="jobTitle" [errorStateMatcher]="matcher">
					<mat-error>Please enter a job title.</mat-error>
				</mat-form-field>
				<app-company-autosuggetion value="" (formReady)="addFormControl('nameOfCompany', $event)" (onSelectedCompany)="setSelectedCompamy($event)" label="{{ nameOfCompanyLabel }}" placeholder="{{ nameOfCompanyLabel }}"></app-company-autosuggetion>
				<app-autocomplete value="" (formReady)="addFormControl('location', $event)" label="{{ locationLabel }}" placeholder="{{ locationPlaceholder }}"></app-autocomplete>
				<mat-card-footer>
					<button type="submit" mat-raised-button color="accent">Continue</button>
				</mat-card-footer>
			</form>
		</mat-card-content>
	</mat-card>
</div>