//Global Styles
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    margin:0;
    padding:0;
}